body {
  background: rgb(195, 34, 34);
  background: linear-gradient(
    248deg,
    rgba(195, 34, 34, 1) 39%,
    rgba(253, 205, 45, 1) 100%
  );
  height: 98vh;
}
.container {
  color: white;
  /* border: 2px solid black; */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  /* flex-direction: column;
    align-items: center; */
}
.main-content {
  border-radius: 10px;
  background-color: #1e1a3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 700px;
  /* border: 2px solid green; */
  position: relative;
}
#title {
  position: absolute;
  left: 0;
  margin-left: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.input_field {
  width: 350px;
  height: 50px;
  padding: 2px;
  border: 2px solid #c9c4de;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  background-color: #3e3363;

  position: absolute;
  bottom: 20px;
}
#take_input {
  background-color: #3e3363;
  width: 75%;
  border: none;
  font-size: 16px;
  color: white;
}
#take_input::placeholder {
  color: #c9c4de;
}
#take_input:focus {
  outline: none;
}
.input_button {
  /* margin: ; */
  margin-top: 9px;
  margin-right: 2px;
  width: 38px;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
#add_btn {
  padding-top: 6px;
  font-size: 20px;
  font-weight: 900;
}
#edit_btn {
  display: none;
}

/* list section */
#ul_content {
  /* border: 2px solid blue; */
  margin-top: 35px;
  width: 350px;

  height: 550px;
  overflow-y: scroll;
}
#ul_content::-webkit-scrollbar {
  width: 10px;
}
#ul_content::-webkit-scrollbar-track {
  background: #1e1a3b;
  width: 10px;
}
#ul_content::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border-left: 4px solid #1e1a3b;
  border-right: 3px solid #1e1a3b;
  background: #fff;
}

#unordered_list {
  /* border: 2px solid green; */
  list-style-position: inside;
}
.list_items {
  border-radius: 6px;
  padding: 8px;
  /* min-height: 10px; */

  padding-bottom: 40px;

  overflow-wrap: break-word;
  font-size: 18px;
  margin-left: -40px;
  background-color: #3b305f;
  margin-bottom: 15px;
  position: relative;
}
.deleteIcon {
  position: absolute;
  right: 0px;
  bottom: 6px;
  margin-right: 40px;
}
.editIcon {
  position: absolute;
  right: 0px;
  bottom: 6px;
  margin-right: 12px;
}
